* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
}


@font-face {
    font-family: 'fetteegyptienne';
    src: url(fetteegyptienne.ttf);
}

@font-face {
    font-family: 'typewriter';
    src: url(typewriter.TTF);
}

/* Vores start CSS er designet til mobiler i portait mode */
:root {
    --primary: #EFEAC6;
    --secondary: #FF7600;
    --tertiary: #009AA0;
}

header {
    position: sticky;
}

header a {
    display: flex;
}

.navlogo {
    width: 14%;
    height: auto;
    margin: 0rem auto;
    display: flex;
}

body {
    background-color: var(--primary);
}

nav {
    position: absolute; /* Gør navbaren absolut i forhold til video-containeren */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255); /* Semi-transparent sort baggrund */
    color: var(--secondary);
    padding: 1rem 0;
    text-align: center;
    font-family: 'fetteegyptienne';
}

nav ul {
    display: none;
}



nav label img {
    width: 15%;
    height: auto;
    margin-right: 2%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4%;
}

#menu-bar {
    display: none;
}

#menu-bar:checked ~ ul {
    display: block;
}

#menu-bar:checked ~ ul li {
    background-color: rgba(255, 255, 255, 0);
}

#menu-bar:checked ~ ul li a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: var(--secondary);
    padding: 0.3rem;
    font-size: 1.5rem;
}


.tshirts {
    width: 100%;
    margin-top: 22%;
}

.overskrift1 {
    font-family: 'fetteegyptienne';
    text-align: center;
    font-size: 1.5rem;
}

.obs {
    text-align: center;
    font-family: 'typewriter';
    margin: 1rem;
    font-size: 0.8rem;
}


.showkit {
    font-family: 'fetteegyptienne';
    text-align: center;
    font-size: 2rem;
    color: var(--secondary);
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.hypetekst,
.hypetekst2,
.merchliste {
    font-family: 'typewriter';
    font-size: 0.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.li1,
.li2,
.li3 {
    margin: 0.7rem;
}


.infographic {
    width: 100%;
    margin-bottom: -1%;
    
}



footer {
    display: flex;
    justify-content: space-between;
    background-color: #007d81 ; /* baggrund for footeren */
    color: #000000;          
    width: 100%;
    font-family: 'typewriter';
    padding-bottom: 1rem;
    text-align: center;     /* Centrerer tekst og indhold */
    align-items: flex-start;
}

.footer-logo {
    width: 47%; 
    justify-content: center;
    justify-self: center;
    margin: 1rem;
}

ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
  }

  footer ul li{
    font-size: 0.8rem;
  }

  .praktiskinfo {
    color: var(--secondary);
    font-size: 2.5rem;
    padding-top: 1rem;
  }

  .kontakt {
    color: var(--secondary);
  }