* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
}


@font-face {
    font-family: 'fetteegyptienne';
    src: url(FetteEgyptienne.ttf);
}

/* Vores start CSS er designet til mobiler i portait mode */
:root {
    --primary: #EFEAC6;
    --secondary: #FF7600;
    --tertiary: #009AA0;
}

header {
    position: sticky;
}

header a {
    display: flex;
}

.navlogo {
    width: 14%;
    height: auto;
    margin: 0rem auto;
    display: flex;
}

body {
    background-color: var(--primary);
}

nav {
    position: absolute; /* Gør navbaren absolut i forhold til video-containeren */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255); /* Semi-transparent sort baggrund */
    color: var(--secondary);
    padding: 1rem 0;
    text-align: center;
    font-family: 'FetteEgyptienne';
}

nav ul {
    display: none;
}

.cover {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 10%;
}

#bigphoto {
    width: 100%;
}

.bigphototext-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--primary);
    padding: 6%;
    text-shadow: 2px 2px 2px black;
    
}

.bigphototext-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--primary);
    padding: 6%;
    text-shadow: 2px 2px 2px black;
}

nav label img {
    width: 15%;
    height: auto;
    margin-right: 2%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4%;
}

#menu-bar {
    display: none;
}

#menu-bar:checked ~ ul {
    display: block;
}

#menu-bar:checked ~ ul li {
    background-color: rgba(255, 255, 255, 0);
}

#menu-bar:checked ~ ul li a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: var(--secondary);
    padding: 0.3rem;
    font-size: 2rem;
}



@media only screen and (min-width: 768px) and (orientation: portrait){ /* Til ipad der står op, aka portrait mode */







@media only screen and (min-width: 1200px){

 
    nav label img {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        list-style: none;
        padding: 0 3%;
    }

    li:nth-child(2) {
        padding-right: 25%;
    }

    nav ul li a {
        text-decoration: none;
        color: black;
        font-size: 2rem;
    }

    nav ul li a:hover {
        background:var(--secondary);
    }

    nav ul li ul {
        display: none;
    }
}
    

    @media only screen and (min-width: 1345px)
    {

 
        nav label img {
            display: none;
        }
    
        nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 0%;
        }
    
        nav ul {
            display: flex;
        }
    
        nav ul li {
            list-style: none;
            padding: 0 3%;
        }
    
        li:nth-child(2) {
            padding-right: 32%;
        }

        li:nth-child(4) {
            padding-left: 25%;
        }
    
        nav ul li a {
            text-decoration: none;
            color: black;
            font-size: 2rem;
        }
    
        nav ul li a:hover {
            background:var(--secondary);
        }
    
        nav ul li ul {
            display: none;
        }

        .navlogo {
            padding-top: 30.5%;
        }

        .logobillede {
            width: 175px;
            
            
        }
    
        nav ul li {
            list-style: none;
            padding: 6%;
        }
        
    }


    @media only screen and (min-width: 1900px)

 /* {

 
        nav label img {
            display: none;
        }
    
        nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 0%;
        }
    
        nav ul {
            display: flex;
        }
    
        nav ul li {
            list-style: none;
            display: flex;
        
        }
    
        li:nth-child(2) {
            padding-right: 50%;;
        }

        li:nth-child(4) {
            padding-left: 50%;
        }
    
        nav ul li a {
            text-decoration: none;
            color: black;
            font-size: 2rem;
        }
    
        nav ul li a:hover {
            background:var(--secondary);
        }
    
        nav ul li ul {
            display: none;
        }

        .navlogo {
            height: auto;
            width: 15%;
        }

        .logobillede {
            width: 200px;
            
            
        }
    
        nav ul li {
            list-style: none;
            padding: 6%;
            display: flex;
        }
        
    } */

    {
        .navlogo {
            width: 20%;
        }




    }